<nav class="navigation_19 bg-dark pt-30 pb-30 lh-40 text-center">
    <div class="container px-xl-0">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-1 text-lg-left">
                <img src="{{ 'logo/logo.png' | theme_image_url }}" width="70px" />
            </div>
            <div class="col-lg-3 text-lg-center">
                <a href="/" class="logo link color-white">Ambassadors for Christ</a>
            </div>
            <div class="col-lg-8 text-lg-right">
                <a href="/about" class="link color-white mr-20">About Us</a>
                <a href="/calendar" class="link color-white mr-20">Calendar</a>
                <a href="/staff" class="link color-white mr-20">Staff</a>
                <a href="/contact" class="link color-white mr-20">Contact</a>
                
                <div class="d-inline-block">
                    <a href="https://www.instagram.com/ambassad0rs_/" class="link color-white mx-20"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>
