---
title: About Page
slug: about
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/default' %}
{% block content %}
<section class="content_9 bg-light pt-100 pb-95">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <h1>We are Ambassadors</h1>
            <div class="mt-20 col-xl-12 col-lg-12 f-22 text-adaptive">
                <h3>Purpose Statement</h3>
                <p>The Youth Group of GBC exists to develop teen ambassadors of Christ who strive to announce the good news of the gospel, to apply the teachings of Scripture, to assist the ministry of the church, and to advance the relationships among fellow believers.</p>
                <p>Biblical & Foundational Goal: 1 Corinthians 5:20 - “Now then we are ambassadors for Christ, as though God did beseech you by us: we pray you in Christ's stead, be ye reconciled to God.”</p>
            </div>
            <div class="mt-20 col-xl-12 col-lg-12 f-22 text-adaptive">
                <h3>Explanation of Purpose Statement</h3>
                <h4>Evangelism</h4>
                <p>Why?</p>
                <p>1 Peter 3:15 - “But sanctify the Lord God in your hearts: and be ready always to give an answer to every man that asketh you a reason of the hope that is in you with meekness and fear:”</p>
                <p>How?</p> 
                <p>Through Door-to-Door evangelism, ministry in a local nursing home/homeless shelter, and mission trips to local, urban cities.</p>
                <h4>Scripture Application</h4>
                <p>Why?</p>
                <p>2 Timothy 2:15 – “Study to shew thyself approved unto God, a workman that needeth not to be ashamed, rightly dividing the word of truth."</p>
                <p>How?</p>
                <p>By regularly attending and attentively listening to Sunday and Wednesday services, establishing a time of personal reading for God’s Word and fellowship with the Father, and participating in Teen Revival</p>
                <h4>Assisting the Church</h4>
                <p>Why?</p>
                <p>Romans 12:5,16 - So we, being many, are one body in Christ, and every one members one of another. Be of the same mind one toward another…Mind not high things, but condescend to men of low estate. Be not wise in your own conceits.</p>
                <p>How?</p>
                <p>By organizing Teen Service on Sunday Night, cleaning and organizing the church every two months, and participating in church services and programs (choir, ushering, sound booth, lunch preparation, welcome crew, and children’s church assistant)</p>
                <h4>Advancing relationships</h4>
                <p>Why?</p>
                <p>1 Corinthians 1:10 - “Now I beseech you, brethren, by the name of our Lord Jesus Christ, that ye all speak the same thing, and that there be no divisions among you; but that ye be perfectly joined together in the same mind and in the same judgment.”</p>
                <p>How?</p>
                <p>Through wednesday night fellowship (30 minutes before), nonthly activities in youth group (outreaches, game days, lock ins, Carowinds, etc.), and semesterly activities focused on team building.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
