---
title: Staff Page
slug: staff
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/default' %}
{% block content %}
<section class="content_9 bg-light pt-100 pb-95">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 f-22 text-adaptive">
                <h1>Youth Leader</h1>
                {% editable_text pastor %}
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <img src="https://locomotivecms-bulletshot60.s3.amazonaws.com/sites/5d2d2ad2896c1d4de75afb36/theme/images/miles.png?1563470465" width="100%"/>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <p>Biography currently under construction.  Please check back later.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
