---
title: Staff Page
slug: staff
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/default' %}
{% block content %}
<section class="content_9 bg-light pt-100 pb-95">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 f-22 text-adaptive">
                {% editable_text youth_leader %}
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <img src="https://locomotivecms-bulletshot60.s3.amazonaws.com/sites/5d2d2ad2896c1d4de75afb36/theme/images/miles.png?1563470465" width="100%"/>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <p>Miles Scarboro was born and raised in the military town of Fayetteville, NC. Although not from an overly spiritual family, his mom made it a priority that Miles attended Sunday School, Children’s Church, Awana, and even a Private Christian School. After a few years of attending the same church and school, Miles felt the pressure of becoming saved. Therefore, he “faked” his salvation in an attempt to satisfy his family and friends. A few years of confusion and bitterness quickly went by, climaxing in his parent’s divorce. As an angered and grief-stricken teen, Miles turned from God and lived for himself more than ever before. Thankfully, through a camp service at the Wilds in Brevard, NC, he was able to truly understand Christ’s sacrifice and unconditional love. At that moment, Miles believed in Christ’s redemption story and accepted Him as His Savior. </p>
                        <p>Around the age of 17, Miles was given the opportunity to preach in a high school chapel service. Although his message was quite subpar, he felt the power of the Holy Spirit flow through him and truly heard God’s call to ministry. Since this eye-opening experience, Miles has taken various leadership positions, led church and school outreaches, and served as a youth intern at Berean Baptist Church in Fayetteville, NC. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <p>Since the fall of 2017, Miles has been the youth leader here at Gethsemane while working on a degree in Biblical counseling at Bob Jones University, and he plans to follow the Lord's leading into full-time youth ministry after graduation. With the help of dedicated college helpers, Miles is committed to promoting the gospel and teaching the youth to be “ambassadors for Christ” (2 Cor. 5:20) in every area of their life. To help accomplish this goal, the leaders have planned monthly community outreaches, fellowship activities, and weekly services. In a world of harsh pressures and trials, Miles seeks to lead a youth group that accomplishes the goal of his life verse: “[to] seek ye first the kingdom of God, and his righteousness; and all these things shall be added unto you” (Mt. 6:33).</p>
                    </div>
                </div>
                {% endeditable_text  %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
