---
title: Default layout
slug: default
position: 99
listed: false
published: false
is_layout: true
---

<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8" >
		<title>Ambassadors for Christ</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="//fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,500,700,800,900|Poppins:100,200,300,400,500,600,700,800,900&amp;subset=latin" rel="stylesheet">
        <!-- Bootstrap 4.3.1 CSS -->
		<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Slick 1.8.1 jQuery plugin CSS (Sliders) -->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<!-- Fancybox 3 jQuery plugin CSS (Open images and video in popup) -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
		<!-- AOS 2.3.1 jQuery plugin CSS (Animations) -->
		<link href="//unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<!-- FontAwesome CSS -->
		<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.8.1/css/all.css">
		<!-- Startup 3 CSS (Styles for all blocks) -->
        {{ 'style.css' | stylesheet_tag }}
        <!-- jQuery 3.3.1 -->
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head> 
<body>
    {% include 'nav' %}

    {% block content %}
    {% endblock %}

    {{ 'slick.min.js' | javascript_tag }}
    {{ 'jquery.maskedinput.min.js' | javascript_tag }}
    {{ 'script.js' | javascript_tag }}
</body>
</html>